.keyVal_row {
  *zoom: 1;
  clear: both;
  border-bottom: $site_border_dotted;
  padding: 0 0 8px;
  margin: 0 0 8px;

  .key {
    font-size: 12px;
    color: #8C8C8C;
    display: block;
    float: left;
    width: 35%;
  }

  .val {
    float: left;
    font-size: 12px;
    width: 100% - 35;
  }
}

.keyVal_row:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.keyVal_row:before,
.keyVal_row:after,
.input-block:before,
.input-block:after{
  display: table;
  line-height: 0;
  content: "";
}

.keyVal_row:after,
.input-block:after{
  clear: both;
}


.large-5 {

  .key {
    width: 40%;
  }
}