html {
  background: $site_background;
}

body {
  background: $site_background;
}

.wrap {
  width: $site_width;
  margin: auto;
}



.logged_out {

  #logo {

    a {
      background-image: url("../images/logo_white.png") !important;
    }
  }
}





footer {
  background: #161a25;
  color: #C6C6C9;
  margin: 50px 0 0;

  .footer_separator {
    border-top: 1px solid #000;
    margin: auto;
    width: 100%;
  }

  .wrap {
    padding: 20px 0;
  }

  .copyright {
    font-size: 10px;
    text-align: center;
  }

  ul.navigation {
    line-height: 16px;
    margin: auto;
    padding: 10px 0 0;
    width: 392px;

    li {
      display: inline-block;
      vertical-align: middle;

      a {
        color: #CACACA;
        font-size: 11px;
        font-weight: 500;
        margin-right: 29px;
      }
    }
  }
}




// Dropdown
.f-dropdown {
  max-width: 140px !important;
  border: none;
  box-shadow: 0 0 5px -3px #000;
  border-radius: 3px;
  border-bottom: 1px solid #CFCFCF;
  padding: 0 !important;

  li {

    a {
      display: block;
      color: #656D78;
      font-size: 12px;
      padding: 3px 7px;
    }
  }
}


// Block
.block_heading {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin: 0 0 20px;
  border-bottom: 1px dotted #E6E9ED;
  padding: 0 0 18px;
}

.block {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0 0 15px -10px #000;
  -moz-box-shadow: 0 0 15px -10px #000;
  -webkit-box-shadow: 0 0 15px -10px #000;
  background: #FFF;
  margin: 0 0 28px;
  border: 1px solid $lightGray_secondary;
  border-bottom: 1px solid $mediumGray;
  overflow: hidden;

  .title {
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
    color: $rainy_secondary;
    margin: 0;
    padding: 20px 20px 18px;
    border-bottom: 1px solid #EFEFEF;
    background: #FDFDFD;
    letter-spacing: 0.05em;
    position: relative;
  }

  .body {
    position: relative;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #4D4F57;
  }

  .inner_block {
    margin: 0 0 34px;

    .inner_title {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.06em;
      color: $rainy_secondary;
      border-bottom: 1px solid #FFF;
      margin: 45px 0 4px;
      padding: 0 0 4px;
    }

    .inner_title:first-of-type {
      margin-top: 0;
    }

    .inner_body {

    }
  }

  .block_footer {

  }
}


.form_block {
  max-width: 570px;
  margin: 0 auto 28px;
}







// I know this should not be here, but...
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
}