.tipsy {
//  display: block !important;
//  opacity: 1 !important;
}

#header {
  margin: 0 0 10px !important;
  background-size: cover !important;
  background-position: center !important;



  // The menu within the header - buttons
  #inHeader_menu {
    position: absolute;
    right: 262px;
    bottom: -130px;

    a {
      display: block;
      float: left;
      margin-left: 10px;
      background: #FDFDFD;
      padding: 3px 10px;
      border-radius: 6px;
      color: #333;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.03em;
      box-shadow: 0 1px 2px -1px #000;
    }

    a:hover {
      background: #46A2D8;
      color: #FFF;
    }
  }



  // The navigation stuff
  .nav {
    padding-left: 90px;

    // Buttons and icons etc
    li {

      a {
        padding: 11px 14px;
      }
    }

    .fa {
      font-size: 22px;
    }

    // The user avatar
    #profile_avatar_menu {

      img {
        width: 29px;
        height: 29px;
        position: absolute;
        top: 7px;
        left: 4px;
      }

      .fontawesome-text {
        padding-left: 27px;
      }
    }
  }



  // The search input stuff
  .container {
    .toggle-search {
      padding: 0;
      position: absolute;
      margin-left: 57px;
      margin-top: 13px;
      z-index: 100;
      font-size: 14px;
      background-color: none !important;

      i {
        color: #43548A;
      }
    }

    .search-expand {
      display: block;
      background: none;
      padding: 0;

      .search-expand-inner {
        padding: 0;
        background: none;

        input {
          line-height: 20px;
          position: relative;
          left: 50px;
          top: 20px;
          background: #FFF;
          border: none;
          border-radius: 30px;
          height: 30px;
          line-height: 30px !important;
          font-size: 13px;
          letter-spacing: 0.04em;
          padding: 0 0 0 25px !important;
          width: 230px !important;
          max-width: none;
        }
      }
    }
  }
}







.themeform.searchform div:after {
  display: none;
}




.beta_msg {
  position: absolute;
  background: url(../images/beta_banner.png) no-repeat;
  z-index: 100;
  font-size: 17px;
  left: 0;
  top: 0;
  width: 98px;
  height: 45px;
}

.social-links {
  position: absolute;
  right: 0;
  top: 63px;
  display: none;
}

#social-links-vertical {
  display: block !important;
}






// Left sidebar
.col-3cm .s1 {
  margin-left: -260px;
  width: 250px !important;
  border: 1px solid #E1E8ED;
  border-radius: 10px !important;
  padding: 103px 0 0 !important;
  text-align: center;

  .sidebar-content {
    background: transparent !important;

    #sidebar_left_img {
      width: 125px;
      height: 125px;
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -62px;
      border: 4px solid #F4F7F9;
      box-shadow: 0 0 1px #6E8696;
      border-radius: 5px;
      background: url(../images/camera_icon.jpg) no-repeat center center #0084B4;

      img {
        display: block;
        width: 117px;
        height: 117px;
        max-width: none;
      }

      a {
        display: block;
        width: 90px - 8px;
        height: 90px - 8px;
      }
    }
  }
}


// Content area
.col-3cm .main-inner {
  padding-left: 260px;
  padding-right: 260px;

  .content {
    border: 1px solid #E1E8ED;
    border-radius: 10px !important;
    overflow: hidden;
  }
}


// Right sidebar
.col-3cm .s2 {
  width: 250px !important;
  border: 1px solid #E1E8ED;
  border-radius: 10px !important;
  overflow: hidden;
}

.sidebar_usersImages {

  a {
    margin-right: 9px;
    width: 45px;
    float: left;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    a:last-child {
      margin-right: 0;
    }
  }
}




// Buddypress
#buddypress .activity-list .activity-content {
  margin: -10px 0 0 70px;
}

.media-type-photo {
  padding: 0 !important;
  margin: 0 !important;
}


// Tipsy
.tipsy {
  background: #fff;
}

.tipsy-nw .tipsy-arrow {
  top: -6px;
}

.tipsy-inner {

  background: #FFF;
}


// User card
.user_card {
  min-width: 330px;
  min-height: 197px;
  position: relative;
  background: #fff;

  .left {
    width: 100px;
    float: left;

    .avatar {

      img {
        display: block;
        height: 100px;
        width: 100px;
      }
    }

    .social_links {
      text-align: center;

      i {
        font-size: 17px;
      }
    }
  }

  .right {
    padding: 0 5px 0 20px;
    width: 220px;
    float: left;

    .top {
      margin: 0 0 15px;

      .key {
        width: 60px;
      }

      .val {
        width: 133px;
      }
    }

    .bottom {

      .key {
        width: 25px;
      }

      .val {
        width: 163px;
      }
    }
  }

  .flip_card {
    position: absolute;
    right: 10px;
    bottom: 10px;

    a {

    }
  }
}




// Keyval row
.keyVal_row {
  *zoom: 1;
  clear: both;
  padding:1px 0;

  .key {
    font-size: 12px;
    color: #8C8C8C;
    display: block;
    float: left;
    width: 45%;
  }

  .val {
    float: left;
    font-size: 12px;
    width: 55%;
  }
}

.activity-avatar:before,
.activity-avatar:after,
.keyVal_row:before,
.keyVal_row:after,
.input-block:before,
.input-block:after{
  display: table;
  line-height: 0;
  content: "";
}

.activity-avatar:after,
.keyVal_row:after,
.input-block:after{
  clear: both;
}






/* Facebook newsfeed stuff */
a {
  color: #3B5998;
}

a:hover {
  color: #5E8AE6;
}


#buddypress {

  #activity-stream {

    .activity-item {

      .activity-avatar {
        float: none;

        a {

          img {
            width: 40px;
            height: 40px;
            margin: 0;
          }
        }
      }

      .activity-content {
        float: none;
        margin: 0;
        position: relative;

        .activity-header {
          position: absolute;
          top: -54px;
          left: 60px;
          font-size: 15px;

          a {
            font-weight: bold;
          }

          p {
            line-height: 20px;

            a:first-child {
              clear: both;
              display: block;
            }

            a:nth-child(2) {
              color:#888;
              font-weight: normal;
            }
          }
        }

        .activity-meta {
          background: #f6f7f8;
          padding: 5px 5px 8px;
          border: 1px solid #D8DEE4;

          a {
            padding: 0 9px;
            margin: 0;
            color: #3B8DBD;
            background: none;
            border: none;
          }
        }
      }

      .activity-comments {
        margin: 0;
        background: #f6f7f8;
        border: 1px solid #D8DEE4;
        border-top: none;


        .left {
          float: left;

          a, img {
            width: 32px;
            height: 32px;
            display: block;
          }

          img {

          }
        }

        .right {
          width: 650px;
          float: left;


          ul {

            li {
              border-top: 1px solid #EEE;
              padding: 8px 0 10px;
            }
          }

          .comment_top {
            font-size: 14px;

            a, p {
              display: block;
              float: left;
            }

            p {
              margin: 0 0 0 5px;
            }
          }

          .comment_bottom {
            font-size: 13px;
            line-height: 14px;
          }

          .time_since {

          }

          .actions {

          }
        }
      }
    }
  }

  .ac-reply-content, .ac-form {
    height: 75px !important;
  }
}