@mixin large_button_base {
  $height:45px;
  outline: none;
  border: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  background: $site_color;
  font-size: 13px;
  display: inline-block;
  height: $height;
  line-height: $height;
  text-align: center;
  font-weight: lighter;
  min-width: 100px;
  letter-spacing: 0.04em;
  padding: 0 20px;
}




.btn {
  @include rounded(5px);
  cursor: pointer;
  $height:40px;
  font-weight: normal;
  outline: none;
  cursor: pointer;
  border:none;
  font-size: 13px;
  display: inline-block;
  height: $height;
  line-height: $height;
  text-align: center;
  min-width: 100px;
  letter-spacing: 0.07em;
  padding: 0 20px;
  color: #FFF;
  background: $green;
  border: 1px solid transparent;
  border-bottom: 1px solid $green_secondary;

  .count {
    border-right: 1px solid #E2E2E2;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: #454547;
    text-align: center;
    width: 40px;
  }

  .text {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px;

    i {
      color: $link_color;
      display: inline-block;
      font-size: 14px;
      margin: 0 5px 0 0;
      position: relative;
      top: 2px;
    }

    span {
      display: inline-block;
    }
  }
}


input.btn {
  height: 50px;
  line-height: 50px;
  padding: 0 40px;
}

.btn:hover {
  background: $green_secondary;
  color:#fff;
  border-bottom: 1px solid $green_secondary;
}


.cta {
  color: #fff;
  background: $green;
  border-bottom:1px solid $green_secondary;
}

.cta:hover {
  background: $green_secondary;
  border-bottom:1px solid $green_secondary;
}


.gray {
  background: $lightGray_secondary;
  border-bottom: 1px solid $mediumGray;
}

.gray:hover {
  background: $mediumGray;
  border-bottom: 1px solid $mediumGray;
}


.transparent {
  border: 1px solid #fff;
  background: none;
}

.transparent:hover {
  border: 1px solid #fff;
  background: #fff;
  color: $rainy_secondary;
}

//
//.btn.secondary {
//  background: $secondary_site_color;
//}
//.btn.secondary:hover {
//  background: $secondary_site_color_hover;
//}

.btn.red {
  background: $red;
  border-bottom: 1px solid $red_secondary;
}
.btn.red:hover {
  background: $red_secondary;
}


.btn_largeIcon {
  font-size: 27px;
}







.alert,.alert.danger,.alert.info,.alert.success {
  background: url("../images/alert-lines.png") repeat-x scroll left top;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  padding: 12px;
  text-align: center;
  background-color: $red_secondary;
}

.danger.alert {
  background-color: $red_secondary;
}

.info.alert {
  background-color: #5d9cec;
}

.success.alert {
  background-color: $green;
}


#top_site_notification {
  top: 80px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2147483646;
  margin: auto;
}

.verifyEmailMsg {
  text-align: center;
  background: $red;
  line-height: 40px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.08em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}