@mixin rounded($radius : 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded_multiple($radius1,$radius2, $radius3, $radius4) {
  -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
  border-radius: $radius1 $radius2 $radius3 $radius4;
}