@mixin site_shadow() {
  -webkit-box-shadow:$site_boxShadow;
  -moz-box-shadow:$site_boxShadow;
  box-shadow:$site_boxShadow;
}

@mixin box-shadow_basic($h-shadow:0, $v-shadow:0, $blur:5px, $color: rgba(0, 0, 0, 0.2), $inset:"") {
  -webkit-box-shadow:$h-shadow $v-shadow $blur $color #{$inset};
  -moz-box-shadow:$h-shadow $v-shadow $blur $color #{$inset};
  box-shadow:$h-shadow $v-shadow $blur $color #{$inset};
}

@mixin box-shadow_6args($h-shadow:0, $v-shadow:0, $blur:5px, $unsure_extraArgument:0, $color: rgba(0, 0, 0, 0.2), $inset:"") {
  -webkit-box-shadow:$h-shadow $v-shadow $blur $unsure_extraArgument $color #{$inset};
  -moz-box-shadow:$h-shadow $v-shadow $blur $unsure_extraArgument $color #{$inset};
  box-shadow:$h-shadow $v-shadow $blur $unsure_extraArgument $color #{$inset};
}

@mixin box-shadow_multiple($shadow)
{
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  box-shadow:$shadow;
}

@mixin box-shadow_2($h-shadow:0, $v-shadow:0, $blur:5px, $color: rgba(0, 0, 0, 0.2), $inset:"", $h-shadow2:0, $v-shadow2:0, $blur2:5px, $color2: rgba(0, 0, 0, 0.2), $inset2:"") {
  -webkit-box-shadow:$h-shadow $v-shadow $blur $color #{$inset}, $h-shadow2 $v-shadow2 $blur2 $color2 #{$inset2};
  -moz-box-shadow:$h-shadow $v-shadow $blur $color #{$inset},  $h-shadow2 $v-shadow2 $blur2 $color2 #{$inset2};
  box-shadow:$h-shadow $v-shadow $blur $color #{$inset}, $h-shadow2 $v-shadow2 $blur2 $color2 #{$inset2};
}