//================================================================================================================================================================
// Links
//================================================================================================================================================================

a {
  @include transition(all, 0.1s, ease);
  color: $link_color;
  text-decoration: none;
  outline:none;
  letter-spacing: 0.02em;
}

a:hover, a.simulateHover {
  color: $link_color_hover;
}


.techpear {
  color: $green !important;
}









//================================================================================================================================================================
// Headings
//================================================================================================================================================================

h1, h2, h3, h4, h5 {
  color: #111111;
  font-weight: lighter;
  cursor: default;
  clear: both;
  text-align: center;
}

h1 {
  font-size: 33px !important;
  line-height: 34px;
  color: #3F5066;
  margin: 0 0 30px !important;
}

.subheading {
  color: #111111;
  font-size: 10px;
  font-weight: lighter;
  margin: 7px 0 8px;
}

h2.has_subheading {
  line-height: 33px;
  margin: 0;
}

h3.has_subheading {
  line-height: 28px;
  margin: 0;
}

.pageTitle {

  background: none repeat scroll 0 0 transparent;
  font-size: 23px;
  font-weight: lighter;
  line-height: 32px;
  padding: 10px;
  text-align: center;
  text-transform: none;
}

.inContent_noBg {
  letter-spacing: 0.05em;
  color: $mediumGray;
  font-weight: lighter;
  text-align: center;
  font-size: 26px;
  line-height: 120px;
  text-shadow: 0 -1px #F9F9F9;

  i {
    position: relative;
    top: 3px;
  }
}

.topOfSiteLinkHeading {
  margin:0 0 10px;

  a, span {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
    color: #8C8F96;
    font-weight: lighter;
  }

  a:hover {
    color: $link_color_hover;
  }
}


.topOfSiteHeading {
  margin: 0 0 20px;

  .image {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    float: left;

    a, img {
      height: 60px;
      width: 60px;
      @include rounded(100px);
      display: block;
      float: left;
    }
  }

  span {
    float: left;
    display: block;
    line-height: 60px;
    color: #8C8F96;
    font-weight: lighter;
    font-size: 22px;
  }

  a:hover {
    color: $link_color_hover;
  }
}

.empty_content {
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 0.05em;
}



//================================================================================================================================================================
// Text items
//================================================================================================================================================================

.text_container {
  margin: 0 0 15px;
  padding: 0 0 30px;

  .title {
    display: block;
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    margin: 0;
    padding-top: 5px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 0;
  }
}


.meta {
  color: #ACB1B4;
}

.heading_withBg {
  color: #fff;
  background: $site_color;
}


.isOnline {
//  display: none;
  color: #67BC1F;
}







//================================================================================================================================================================
// Lists
//================================================================================================================================================================

ul {
  padding-left: 15px;
  font-size: 12px;
  line-height: 24px;
  list-style-type: disc;
}










//================================================================================================================================================================
// Selection
//================================================================================================================================================================
::selection {
  background: $site_color; /* Safari */
}
::-moz-selection {
  background: $site_color; /* Firefox */
}

*::selection {
  color: #FFF !important;
}
*::-moz-selection {
  color: #FFF !important;
}