//================================================================================================================================================================
// Colors to use
//================================================================================================================================================================

$site_background:#FFF;


// Main sitecolors
$site_color: #0095da;


$red:#FF6766;
$red_secondary:#D7504F;

$blue:#0095DA;
$blue_secondary:#0784BE;

$green:#00BB8E;
$green_secondary:#10BD79;

$asphalt:#141C27;
$asphalt_secondary:#1F212A;

$rainy:#656d78;
$rainy_secondary:#434a54;

$mediumGray:#ccd1d9;
$mediumGray_secondary:#aab2bd;

$lightGray:#f5f7fa;
$lightGray_secondary:#e6e9ed;


$site_border:1px solid #E1E8ED;
$site_border_dotted:1px dotted #E1E8ED;
$link_color:$blue;
$link_color_hover:$blue;

//================================================================================================================================================================
// Math
//================================================================================================================================================================
$site_base_colorDarken:5%;



//================================================================================================================================================================
// Sizing
//================================================================================================================================================================
$navBar_height:80px;


//================================================================================================================================================================
// Content area
//================================================================================================================================================================
$site_width: 980px;
$component_width:728px;
$sidebar_width:$site_width - $component_width - 30px;