#site_body > header {
  margin: 0;
}


#site_body > section {
  > .wrap {
    width: 100%;
  }
}


#profile_header {
  margin: 0 0 25px;
  padding: 40px 0;
  background-size: cover;
  background-image: url("../images/profile_header_bg.jpg");

  .left {
    margin-right: 25px;
    float: left;

    a, img {
      -webkit-border-radius: 100px;
      border-radius: 100px;
      width: 100px;
      display: block;
      border: 3px solid #FFF;
      background: #fff;
    }

    a {
    }
  }

  .info {
    float: left;

    .title {
      color: #FFF;
      font-size: 30px;
      font-weight: normal;
      letter-spacing: 0.09em;
      margin: 27px 0 10px;
    }

    .meta {
      color: #CECECE;
      font-size: 14px;
      letter-spacing: 0.07em;
      font-weight: lighter;
    }
  }

  .actions {

    a {
      display: block;
      width: 100%;
    }

    a:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}






// Listings
#listing_info {

  .left {
  }

  .right {
  }
}